<template>
  <div class="tooltip">
    <span class="tooltiptext" v-for="item in participantNames(participantsId)" :key="item">
      {{ item }}
    </span>
  </div>
</template>

<script lang="ts">
import { Vue, Component, PropSync, Prop } from "vue-property-decorator";
import { mapGetters, mapState } from "vuex";
import { mask } from "vue-the-mask";
import { sessionIdentifiers } from "@/store/newModules/session";
import { directorIdentifiers } from "@/store/newModules/director";

type focusFieldType =
  | "sessionTitleFieldHasFocus"
  | "directorNameFieldHasFocus"
  | "directorEmailFieldHasFocus";

@Component({
  directives: { mask },
  computed: {
    ...mapGetters({
      isLoading: "isLoading",
    }),
    ...mapGetters("session", {
      currentAccessCode: "currentAccessCode",
      currentEditCode: "currentEditCode",
    }),
    ...mapGetters("orchestrateSession", {
      participantNames: "participantNames",
    }),
    ...mapState("orchestrateSession", {
      participants: "participants",
    }),
  },
})
export default class ShowPlayersBox extends Vue {
  @Prop() participantsId!: { key: string };
}
</script>

<style lang="css">
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
